.movie-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 8px;

      .imdb-link {
        svg {
          width: 40px;
          height: 20px;
          color: #f5c518;
        }
      }
    }

    .general-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      font-size: var(--fs-50);

      li {
        &::after {
          display: inline-block;
          margin: 0 0.5rem 0.2rem;
          content: '';
          padding: 1px;
          border-radius: 50%;
          background-color: var(--accent-color-100);
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      font-size: var(--fs-0);
    }

    .rating-container {
      display: flex;
      align-items: center;

      svg {
        margin-right: 2px;
        color: #f5c518;
        width: 25px;
        height: 25px;
      }

      .rating {
        font-weight: var(--fw-semi-bold);
      }

      .number {
        line-height: 27px;
      }
    }
  }
}

.movie-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 8px;

  .poster {
    img {
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.movie-footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 8px;
  font-size: var(--fs-50);

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .director,
    .stars {
      display: flex;
      flex-direction: row;
      gap: 8px;

      span {
        &:first-child {
          font-weight: var(--fw-semi-bold);
        }

        &:last-child {
          color: var(--text-color-secondary);
        }
      }
    }
  }

  .genres {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    height: max-content;
    margin-top: 4px;
  }
}
