.platform-icons {
  display: flex;
  gap: calc(var(--global-gap) / 2);
  align-items: center;

  svg {
    color: var(--text-color-secondary);

    &.icon__pc {
      width: 12px;
      height: 12px;
    }

    &.icon__mac {
      width: 11px;
      height: 14px;
    }

    &.icon__playstation {
      width: 17px;
      height: 12px;
    }

    &.icon__xbox {
      width: 12px;
      height: 12px;
    }

    &.icon__nintendo {
      width: 17px;
      height: 12px;
    }
  }
}
