@import '../../../styles/breakpoints.scss';

.categories {
  .heading {
    align-self: center;
  }

  h4 {
    font-weight: var(--fw-regular);
    align-self: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: calc(var(--global-gap) * 2);

    @include mobile {
      gap: var(--global-gap);
    }

    .category {
      background: var(--black-4);
      border: 2px solid var(--gray-shade-10);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
      border-radius: var(--global-border-radius);

      .category__title {
        font-size: 22px;
        display: flex;
        align-items: center;
        gap: 7px;
        color: var(--accent-color-100);

        svg {
          width: 20px;
          height: 20px;
          color: var(--accent-color-100);
        }
      }

      &:hover {
        border: 2px solid var(--gray-shade-20);

        .category__title {
          display: none;
        }
      }
    }
  }
}
