.animated-text {
  h1 {
    color: rgba(225, 225, 225, 0.01);
    text-transform: uppercase;
    font-weight: 900;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
  }

  @keyframes animate {
    100% {
      background-position: left top;
    }
    25% {
      background-position: right bottom;
    }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
  }
}
