.composer-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .composer-badge-container {
    display: flex;
    align-self: flex-start;

    .composer-badge {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      align-items: center;

      .composer-image {
        height: 150px;
        width: 150px;
        border: 5px solid #2e3238;
        border-radius: 50%;

        img {
          filter: grayscale(100%) contrast(130%);
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .composer-name {
        font-size: 18px;
      }
    }
  }

  .composer-works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    align-items: center;
    width: max-content;
    max-width: 100%;
    gap: 50px;
  }
}
