.content-types-container {
  .content-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px 0;
    gap: 30px;
    background-image: linear-gradient(to right bottom, #2e3238, #2e3238);

    .type {
      flex-direction: column;
      display: flex;
      align-items: center;
      list-style: none;

      span {
        color: #fff;
        padding-top: 7px;
      }
    }
  }
}
