.content-types-container {
  // padding: 35px 0;
  // background-color: #000;

  .content-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 35px 0;
    gap: 30px;
    // background-image: url('./../../assets/content-type-background.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 0px -58px;
    .type {
      flex-direction: column;
      display: flex;
      align-items: center;
      list-style: none;

      span {
        color: #fff;
        padding-top: 7px;
      }
    }
  }
}
