.platform-icons {
  display: flex;
  gap: calc(var(--global-gap) / 2);
  align-items: center;

  svg {
    &.icon__pc {
      width: 16px;
      height: 16px;
    }

    &.icon__mac {
      width: 15px;
      height: 18px;
    }

    &.icon__playstation {
      width: 21px;
      height: 16px;
    }

    &.icon__xbox {
      width: 16px;
      height: 16px;
    }

    &.icon__nintendo {
      width: 21px;
      height: 16px;
    }
  }
}
