@import '../../../../styles/breakpoints.scss';

.details {
  --poster-size: 300px;
  --gap: 40px;

  display: grid;
  grid-template-columns: [poster] var(--poster-size) [details] 2fr;
  gap: var(--gap);

  @include tablet {
    --poster-size: 200px;
    --gap: 40px;
  }

  @include mobile {
    --poster-size: 120px;
    --gap: 20px;
  }

  @media (max-width: 470px) {
    grid-template-columns: unset;

    &__poster {
      display: none;
    }
  }

  &__poster {
    border-radius: var(--global-border-radius);
    aspect-ratio: 2 / 3;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  }

  &__content {
    display: grid;
    grid-template-rows: [top] auto [bottom] max-content;
    gap: var(--global-gap);

    > div {
      // top
      &:first-child {
        display: flex;
        justify-content: space-between;
        gap: var(--global-gap);

        .details__header {
          display: flex;
          flex-direction: column;
          gap: var(--global-gap);
        }

        @include mobile {
          gap: calc(var(--global-gap) / 2);

          .details__header {
            .crew {
              display: none;
            }
          }
        }
      }

      // bottom
      &:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: var(--global-gap);

        @include mobile {
          justify-content: flex-start;
        }
      }
    }
  }
}
