.no-results {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--global-gap);

  ul {
    list-style: initial;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 4);

    span {
      text-decoration: underline;
    }
  }

  button {
    background: none;
    border: none;
    color: var(--accent-color-100);
  }
}
