.poster-card {
  display: grid;
  grid-template-rows: 1fr 10%;
  gap: calc(var(--global-gap) / 4);

  a {
    overflow: hidden;
    border-radius: var(--global-border-radius);
    border: var(--global-border-width) solid var(--gray-400);

    .poster-card__poster {
      position: relative;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        transition: 0.25s;
      }

      .poster-card__inner {
        position: absolute;
        transition: 0.25s;
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) / 4);
        width: 100%;
        padding: 15px;
        background-color: rgba(black, 0.85);
        box-shadow: 0 0 20px rgba(black, 0.4);
        color: var(--text-color-primary);

        .poster-card__composer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: calc(var(--global-gap) / 2);

          span {
            font-size: var(--fs-50);
            color: var(--text-color-secondary);
          }
        }

        .poster-card__scores {
          display: flex;
          flex-direction: column;
          gap: calc(var(--global-gap) / 2);

          li {
            display: grid;
            grid-template-columns: 10% 1fr;
            gap: 18px;

            svg {
              color: var(--text-color-secondary);
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);

        .poster-card__inner {
          bottom: 0;
        }
      }
    }
  }

  .poster-card__title {
    display: flex;
    flex-direction: column;
    margin-left: 4px;

    span {
      &:last-child {
        font-size: var(--fs-50);
        color: var(--text-color-secondary);
      }
    }
  }
}
