@import '../../styles/breakpoints.scss';

.auth {
  section {
    min-height: calc(100vh - var(--navbar-height));

    display: grid;
    grid-template-columns: 45% 1fr;

    @include mobile {
      min-height: initial;
      grid-template-columns: unset;

      .auth__img {
        display: none;
      }
    }

    .auth__login,
    .auth__register {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: var(--global-gap);
      margin-block: 40px;

      .redirect {
        color: var(--text-color-secondary);

        a {
          color: var(--accent-color-100);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .modal__trigger {
        align-self: center;

        .contact__btn {
          font-size: var(--fs-50);
          color: var(--text-color-secondary);
          text-align: center;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
