.search-menu {
  align-self: center;

  .search-menu__btn {
    svg {
      height: 25px;
      width: 25px;
      stroke-width: 2.5;
    }
  }
}

.search-menu__overlay {
  inset: 0;

  .search-menu__content {
    .quick-search {
      &.mobile {
        background-color: var(--responsive-quick-search-color);

        .quick-search__search-bar {
          width: 100%;
          margin-inline: auto;
          padding: var(--global-padding);
          background-color: var(--responsive-quick-search-color);
          border: none;

          &:focus-within {
            border: none;
          }

          .icon__search {
            margin: 0;
            height: 23px;
            width: 23px;
            stroke-width: 1.7;
            color: var(--text-color-secondary);
          }

          input {
            border: none;
          }

          button {
            justify-content: end;

            .icon__close {
              height: 23px;
              width: 23px;
            }
          }
        }

        .quick-search__dropdown {
          .dropdown-menu {
            top: 0;
            border-radius: unset;

            .suggestions {
              max-height: calc(100vh - var(--searchbar-height));

              .suggestion {
                padding: calc(var(--global-padding) / 1.5) var(--global-padding);
              }
            }
          }
        }
      }
    }
  }
}
