@import '../../styles/mixins.scss';

.modal__trigger {
  .contact__btn {
    background-color: transparent;
    border: none;
  }
}

.modal {
  &.contact {
    overflow: hidden;
    border-radius: calc(var(--global-border-radius) * 2);

    .modal__content {
      .contact__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--global-gap);
        padding: var(--global-padding);
        background: var(--black-6);
        border-radius: calc(var(--global-border-radius) * 2);
        border: calc(var(--global-border-width) * 2) solid
          var(--accent-color-100);

        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .social {
            display: flex;
            justify-content: center;
            gap: var(--global-gap);
          }
        }

        form {
          padding: 20px 40px;
          border-radius: calc(var(--global-border-radius) * 2);

          button {
            width: 50%;
          }
        }
      }

      .modal__close-btn {
        @include iconButton();
      }
    }
  }
}
