.poster-card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);

  a {
    overflow: hidden;
    border-radius: var(--global-border-radius);
    border: var(--global-border-width) solid var(--border-color);
    height: 100%;

    .poster-card__poster {
      position: relative;
      height: 100%;

      > img {
        height: 100%;
        width: 100%;
        aspect-ratio: 2 / 3;
        transition: 0.25s;
      }

      .poster-card__inner {
        position: absolute;
        // height: 100%;
        // overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) / 4);
        padding: 15px;
        background-color: rgba(black, 0.85);
        box-shadow: 0 0 20px rgba(black, 0.4);
        color: var(--white-0);
        transition: 0.25s;

        .poster-card__composer {
          .badge {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: calc(var(--global-gap) / 2);

            span {
              font-size: var(--fs-50);
              color: var(--gray-1);
            }
          }
        }

        .poster-card__scores {
          // overflow-y: auto;
          display: flex;
          flex-direction: column;
          gap: calc(var(--global-gap) / 2);

          li {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: calc(var(--global-gap) / 4);

            svg {
              width: 20px;
              height: 20px;
              margin-top: 3px;
              color: var(--gray-1);
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);

        .poster-card__inner {
          bottom: 0;
        }
      }
    }
  }

  .poster-card__title {
    display: flex;
    flex-direction: column;
    margin-left: 4px;

    span {
      &:first-child {
        width: var(--card-width);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        font-size: var(--fs-50);
        color: var(--gray-1);
      }
    }
  }
}
