@import '../../../../styles/breakpoints.scss';

.back-to-top__btn {
  position: fixed;
  z-index: 1000;
  bottom: calc(var(--global-padding) * 2);
  right: calc(var(--global-padding) * 2);
  background: transparent;
  border-radius: 50%;
  border: var(--global-border-width) solid var(--accent-color-200);
  color: var(--text-color-primary);

  @include mobile {
    right: calc(var(--global-padding));
  }

  svg {
    width: 32px;
    height: 32px;
  }

  &:hover,
  &:active {
    background-color: var(--accent-color-100);

    svg {
      color: var(--black-7);
    }
  }
}
