@import '../../styles/mixins.scss';

.preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--global-gap);

  li {
    overflow: hidden;
    position: relative;
    border-radius: var(--global-border-radius);
    cursor: pointer;

    img {
      aspect-ratio: 1;
    }
  }

  .view-all {
    position: relative;
    display: flex;

    img {
      filter: contrast(75%);
      opacity: 0.3;
    }

    span {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-transform: uppercase;
      font-size: var(--fs-0);
      font-weight: var(--fw-bold);
      color: var(--text-color-secondary);
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }
}
