.preview {
  //   min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  div {
    position: relative;
    overflow: hidden;
    width: 184px;
    height: 102px;
    border-radius: var(--global-border-radius);
    cursor: pointer;

    img {
      position: absolute;
      //   width: 100%;
      //   height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-out 0s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .view-all {
    position: relative;
    display: flex;

    img {
      opacity: 0.4;
    }

    span {
      position: absolute;
      z-index: 1;
      inset: 0;
      text-align: center;
      align-self: center;
      text-transform: uppercase;
      font-size: var(--fs-0);
    }

    &:hover {
      img {
        opacity: 0.6;
      }
    }
  }
}

.modal {
  &.screenshots {
    .modal__content {
      position: relative;
      min-width: 100vw;
      min-height: 100vh;
      padding: var(--global-padding);

      display: flex;
      flex-direction: column;
      justify-content: center;

      .modal__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: hsla(0, 0%, 100%, 0.05);
        border-radius: 50%;
        border: 1px solid hsla(0, 0%, 59.2%, 0.05);
        cursor: pointer;

        svg {
          color: var(--white-0);
          width: 24px;
          height: 24px;
        }

        &:hover {
          background: var(--white-0);

          svg {
            color: var(--black-7);
          }
        }
      }
    }
  }
}
