.preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--global-gap);

  li {
    overflow: hidden;
    position: relative;
    border-radius: var(--global-border-radius);
    cursor: pointer;
  }

  .view-all {
    position: relative;
    display: flex;

    img {
      filter: contrast(75%);
      opacity: 0.3;
    }

    span {
      z-index: 1;
      position: absolute;
      inset: 0;
      text-align: center;
      align-self: center;
      text-transform: uppercase;
      font-size: var(--fs-0);
      font-weight: var(--fw-bold);
      color: var(--text-color-secondary);
    }

    &:hover {
      img {
        filter: contrast(0%);
        opacity: 1;
      }

      span {
        color: var(--black-7);
      }
    }
  }
}
