.search-bar {
  display: grid;
  grid-template-columns: [search] 1fr [input] 8fr [close] 1fr;
  align-items: center;
  background-color: var(--input-border-color);
  border: var(--global-border-width) solid var(--input-border-color);
  border-radius: calc(var(--global-border-radius) * 2);

  &:focus-within {
    border: var(--global-border-width) solid var(--input-focus-color);
  }

  .search-icon__container {
    display: flex;
    justify-content: center;
  }

  .icon__search,
  .icon__close {
    height: 19px;
    width: 19px;
  }

  input {
    padding: 8px 10px;
    background-color: transparent;
    border: none;
    font-size: var(--fs-50);

    &:focus {
      outline: none;
    }
  }
}
