.search-bar {
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--input-border-color);
  border: var(--global-border-width) solid var(--input-border-color);
  border-radius: calc(var(--global-border-radius) * 2);

  &:focus-within {
    border: var(--global-border-width) solid var(--input-focus-color);
  }

  .icon__search,
  .icon__close {
    margin: 0 calc(var(--global-margin) / 1.5);
    height: 19px;
    width: 19px;
  }

  input {
    flex-grow: 1;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
    font-size: var(--fs-50);

    &:focus {
      outline: none;
    }
  }
}
