.track {
  display: grid;
  align-items: center;

  .track__info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .track__title {
      white-space: nowrap;
      min-width: fit-content;
      // mask: linear-gradient(90deg, transparent, #fff 5%, #fff 95%, transparent);
    }

    .track__artist {
      color: var(--text-color-secondary);
    }
  }
}
