@import '../../../../styles/breakpoints.scss';

.sidebar {
  .sidebar__toggle-btn {
    margin-top: 1px;
  }

  .sidebar__bg {
    z-index: 1;
    position: fixed;
    inset: var(--navbar-height) 0 0 0;
    background: var(--gray-500);

    .sidebar__content {
      min-height: 100%;
      flex-direction: column;
      gap: var(--global-gap);

      > * {
        &:not(.quick-search, .separator) {
          width: var(--content-max-width);
          margin: 0 auto;

          @include tablet {
            margin: 0 0 0 auto;
          }

          @include laptop {
            margin: 0 0 0 auto;
          }
        }
      }

      &:not(:has(.quick-search)) {
        padding-top: var(--global-padding);
      }

      .sidebar__links {
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) / 2);

        li {
          a {
            display: flex;
            align-items: center;
            gap: calc(var(--global-gap) / 2);
            color: var(--text-color-primary);

            svg {
              height: 20px;
              width: 20px;
              color: var(--text-color-secondary);
            }
          }
        }
      }
    }
  }
}
