.sidebar {
  .sidebar__toggle-btn {
    display: flex;
    margin-top: 1px;
    background-color: transparent;
    border: none;

    svg {
      height: 24px;
      width: 24px;
      color: var(--accent-color-100);
    }
  }

  .sidebar__bg {
    z-index: 1;
    position: fixed;
    inset: var(--navbar-height) 0 0 0;
    background: var(--gray-500);

    .sidebar__content {
      min-height: 100%;
      flex-direction: column;
      gap: var(--global-gap);

      > * {
        &:not(.quick-search, .separator) {
          width: var(--content-max-width);
          margin-inline: auto;
        }
      }

      .sidebar__links {
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) / 2);

        li {
          a {
            color: var(--text-color-secondary);
            display: flex;
            align-items: center;
            gap: calc(var(--global-gap) / 2);

            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}
