.parallax {
  position: relative;
  z-index: 0;
  min-height: 100%;
  contain: paint;
  display: grid;
  grid-template-areas: 'stack';
  background-color: var(--gray-900);

  > * {
    position: absolute;
    grid-area: stack;
    min-width: 100%;
    min-height: 100%;
  }
}
