.scores {
  position: relative;
  z-index: 0;

  .hero {
    background-position: left 15vw top 5%;
    // background-position: 22% 50%; // mobile
    background-size: cover;
    background-repeat: no-repeat;

    .hero__content {
      width: var(--content-max-width);
      margin-inline: auto;

      .breadcrumbs {
        padding: calc(var(--global-padding) * 2) 0;
      }
    }
  }

  .tabs {
    margin-top: 30px;

    .tabs__list {
      width: var(--content-max-width);
      margin-inline: auto;
    }

    .tabs__content {
      padding: 40px 0;
      background: var(--black-4);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

      > * {
        width: var(--content-max-width);
        margin-inline: auto;
      }
    }
  }
}
