@import '../../styles/breakpoints.scss';

.scores {
  position: relative;
  z-index: 0;
  min-height: 50vh;

  .spinner {
    align-self: center;
    margin-inline: auto;
  }

  .hero {
    background-position: left 15vw top 5%;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      background-position: 50% 50%;
      border-image: linear-gradient(hsl(0240 0% 0% / 0.3), hsl(0 0% 7% / 0.6))
        fill 1;
    }

    .hero__content {
      width: var(--content-max-width);
      margin-inline: auto;

      .breadcrumbs {
        padding: calc(var(--global-padding) * 2) 0;
      }
    }
  }

  .tabs {
    margin-top: 30px;

    .tabs__list {
      width: var(--content-max-width);
      margin-inline: auto;
    }

    .tabs__content {
      padding: 40px 0;
      background: var(--black-4);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

      > * {
        width: var(--content-max-width);
        margin-inline: auto;
      }
    }
  }
}
