.composer-page-wrapper {
  .composer-container {
    display: flex;
    flex-direction: column;

    .composer-info {
    }

    .composer-works {
      border: 5px solid orange;
      width: 55%;
      align-self: center;
    }

    button {
    }
  }
}
