@import '../../../styles/breakpoints.scss';

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.modal {
  z-index: var(--z-index-max);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--modal-background);
  color: var(--text-color-primary);
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  @include laptop {
    min-width: 80%;
  }

  @include tablet {
    min-width: 80%;
  }

  @include mobile {
    min-width: 100%;
  }

  .modal__content {
    position: relative;

    .modal__close-btn {
      position: absolute;
      top: 2vh;
      right: 2vh;
    }
  }

  &.contact {
    overflow: hidden;
    border-radius: calc(var(--global-border-radius) * 2);

    .modal__content {
      .contact__form {
        padding: var(--global-padding);
        background: var(--black-6);
        border: calc(var(--global-border-width) * 2) solid
          var(--accent-color-100);
        border-radius: calc(var(--global-border-radius) * 2);

        h4 {
          margin-top: 2px;
          margin-bottom: 20px;
        }

        .contact__form__container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: var(--global-gap);

          > div {
            display: flex;
            flex-direction: column;

            span {
              color: var(--text-color-secondary);
            }

            img {
              max-width: 60%;
              align-self: center;
              margin-block: auto;
            }
          }

          form {
            button {
              width: 50%;
            }
          }

          @include mobile {
            grid-template-columns: unset;

            > div {
              display: none;
            }

            form {
              gap: calc(var(--global-gap) / 2);

              button {
                align-self: center;
              }
            }
          }
        }

        .social {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: var(--global-gap);
        }
      }
    }
  }

  &.youtube {
    .modal__content {
      min-width: 100dvw;
      min-height: 100dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--global-padding);

      .video {
        overflow: hidden;
        min-height: 100%;
        min-width: 60vw;
        border-radius: var(--global-border-radius);
        object-fit: cover;

        @include mobile {
          @media only screen and (orientation: portrait) {
            min-width: 100%;
          }
        }

        iframe {
          min-height: 100%;
          min-width: 100%;
          border: none;
        }
      }
    }
  }

  &.screenshots {
    .modal__content {
      position: relative;
      min-height: 100dvh;
      min-width: 100dvw;
      padding: var(--global-padding);

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
