.quote {
  display: flex;
  flex-direction: row;
  gap: var(--global-gap);

  svg {
    width: 50px;
    height: 50px;
    color: var(--accent-color-200);
  }

  .quote__container {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap);

    .quote__reference {
      .quote__line {
        color: var(--accent-color-100);
      }

      .quote__author {
        font-weight: var(--fw-bold);
      }
    }
  }
}
