*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: var(--scroll-behavior);
}

body {
  font-family: var(--ff-primary);
  color: var(--text-color-primary);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow: var(--overflow);

  ul,
  ol {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    hyphens: auto;
  }

  p,
  span,
  li {
    text-wrap: pretty;
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  button {
    cursor: pointer;
    font: inherit;
    outline: none;

    &:disabled {
      cursor: unset;
      pointer-events: none;
    }
  }

  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
    outline: none;
  }
}
