html,
.dropdown-menu,
select {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
  }
}
