@font-face {
  font-family: 'Right Grotesk Tall Regular';
  src: local('RightGrotesk-TallRegular'),
    url('../assets/fonts/RightGrotesk-TallRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Right Grotesk Tight Medium';
  src: local('RightGrotesk-TightMedium'),
    url('../assets/fonts/RightGrotesk-TightMedium.otf') format('opentype');
}

:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Lustria', serif;
  --ff-tertiary: 'Right Grotesk Tight Medium';

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-0: 0.625rem; // 10px
  --fs-50: 0.9rem; // 14px
  --fs-100: 1rem; // 16px
  --fs-200: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem); // 18.00px → 20.00px
  --fs-300: clamp(
    1.62rem,
    1.5041rem + 0.5793vw,
    1.9531rem
  ); // 25.92px → 31.25px
  --fs-400: clamp(
    2.3325rem,
    2.0823rem + 1.2511vw,
    3.0519rem
  ); // 37.32px → 48.83px
  --fs-500: clamp(
    3.3594rem,
    2.8694rem + 2.45vw,
    4.7681rem
  ); // 53.75px → 76.29px
}

h1 {
  font-size: var(--fs-500);
  line-height: 0.75;
}

h2 {
  font-size: var(--fs-400);
  line-height: 1;
}

h3 {
  font-size: var(--fs-300);
  line-height: 1.2;
}

h4 {
  font-size: var(--fs-200);
  line-height: 1.4;
}

p,
span {
  font-size: var(--fs-100);
  line-height: 1.5;
}
