// ============================================================
// GLOBAL
// ============================================================

.show {
  display: block;
}

.hidden,
.sr-only {
  display: none;
}

// ============================================================
// LAYOUT
// ============================================================

.stack {
  display: grid;
  grid-template-areas: 'stack';
  z-index: 0;
  min-height: 100%;
  contain: paint;

  > * {
    position: absolute;
    grid-area: stack;
    min-width: 100%;
    min-height: 100%;
  }
}

// ============================================================
// HEADING
// ============================================================

// General heading styling
.heading {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-bold);
  line-height: 0.76;
  letter-spacing: 4px;
  text-transform: uppercase;
}

// Gradient text for heading
.heading-grad {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    16deg,
    var(--text-color-primary) 69%,
    var(--accent-color-100) 90%
  );
}

// Left border for heading
.heading-lb {
  padding-left: 0.75rem;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    margin-top: -1px;
    margin-left: -0.75rem;
    background: var(--accent-color-100);
    border-radius: 10px;
  }
}
