@import '../styles//breakpoints.scss';

:root {
  // ============================================================
  // GLOBAL STYLES
  // ============================================================
  --overlay: rgb(0 0 0 / 0.6);

  --z-index-max: 999; // The absolute highest z-index, nothing should appear above this
  --z-index-navbar: 998; // The z-index for the navbar, ensures it stays on top of most content

  --scrollbar-background-color: var(--gray-1);
  --scrollbar-color: var(--gray-7);
  --scrollbar-width: 10px;

  --content-max-width: min(80%, 2500px);
  --content-padding: 40px 0;
  --global-padding: 20px;
  --global-margin: 20px;
  --global-gap: 20px;
  --global-border-width: 2px;
  --global-border-radius: 10px;

  --navbar-height: 80px;

  --accent-color-100: var(--green-0);
  --accent-color-200: var(--green-1);
  --text-color-danger: var(--red-2);

  --auth-btn-height: 33px;
  --auth-btn-width: 33px;

  --toastify-color-dark: var(--black-5);
  --toastify-font-family: var(--ff-primary);
  --toastify-text-color-dark: var(--text-color-secondary);
  --toastify-icon-color-success: var(--accent-color-100);
  --toastify-color-progress-success: var(--accent-color-100);
  --toastify-icon-color-error: var(--red-2);
  --toastify-color-progress-error: var(--red-2);

  // ============================================================
  // DARK MODE
  // ============================================================

  &.dark-theme {
    --layout-background-color: var(--black-5);
    --box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);

    --text-color-primary: var(--white-0);
    --text-color-secondary: var(--gray-1);

    --border-color: var(--black-1);
    --separator-color: var(--gray-shade-70);
    --fallback-background-color: var(--black-7);

    --label-color: var(--text-color-secondary);
    --input-background-color: var(--gray-shade-70);
    --input-border-color: var(--black-2);
    --input-placeholder-color: var(--text-color-secondary);
    --input-focus-color: var(--accent-color-200);
    --input-caret-color: var(--accent-color-100);

    --dropdown-background-color: var(--black-2);
    --dropdown-item-background-color: var(--gray-shade-70);
    --dropdown-item-border-color: var(--gray-shade-10);

    --select-background-color: var(--black-2);
    --select-focus-color: var(--accent-color-200);
    --select-highlight-background-color: var(--accent-color-200);
    --select-highlight-color: var(--black-7);

    --accordion-border-color: var(--black-5);
    --accordion-header-background-color: var(--black-3);
    --accordion-header-hover-color: var(--black-6);
    --accordion-content-background-color: var(--black-5);

    --tooltip-background-color: var(--black-2);
    --tooltip-color: var(--text-color-secondary);

    --disabled-color: var(--gray-8);

    --modal-background: var(--black-5);
    --modal-box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

    --navbar-background-color: var(--black-5);
    --navbar-border-color: var(--gray-shade-10);
    --navbar-link-color: var(--text-color-secondary);
    --navbar-hover-link-color: var(--text-color-primary);
    --navbar-active-link-color: var(--accent-color-100);

    --responsive-menu-overlay: var(--black-2);
    --responsive-quick-search-color: var(--black-7);

    --footer-background-color: var(--black-7);
    --footer-title-color: var(--accent-color-200);
    --footer-copyright-color: var(--text-color-secondary);
    --footer-link-color: var(--text-color-secondary);
    --footer-hover-link-color: var(--text-color-primary);
  }

  // ============================================================
  // LIGHT MODE
  // ============================================================

  &.light-theme {
    --layout-background-color: var(--white-0);
    // --box-shadow: ;

    --text-color-primary: var(--black-6);
    --text-color-secondary: var(--gray-9);

    --border-color: var(--gray-0);
    --separator-color: var(--gray-0);
    --fallback-background-color: var(--gray-0);

    --label-color: var(--text-color-primary);
    --input-background-color: var(--white-0);
    --input-border-color: var(--white-2);
    --input-placeholder-color: var(--text-color-secondary);
    --input-focus-color: var(--accent-color-200);
    --input-caret-color: var(--accent-color-100);

    --dropdown-background-color: var(--white-0);
    --dropdown-item-background-color: var(--gray-0);
    --dropdown-item-border-color: var(--gray-0);

    --select-background-color: var(--white-0);
    --select-focus-color: var(--accent-color-200);
    --select-highlight-background-color: var(--accent-color-200);
    --select-highlight-color: var(--black-7);

    --accordion-border-color: var(--white-0);
    --accordion-header-background-color: var(--gray-0);
    --accordion-header-hover-color: var(--gray-0);
    --accordion-content-background-color: var(--white-0);

    --tooltip-background-color: var(--white-0);
    --tooltip-color: var(--text-color-primary);

    --disabled-color: var(--gray-1);

    --modal-background: var(--white-1);
    // --modal-box-shadow: ;

    --navbar-background-color: var(--white-1);
    --navbar-border-color: var(--black-shade-5);
    --navbar-link-color: var(--text-color-secondary);
    --navbar-hover-link-color: var(--black-9);
    --navbar-active-link-color: var(--accent-color-200);

    --responsive-menu-overlay: var(--white-0);
    --responsive-quick-search-color: var(--gray-4);

    --footer-background-color: var(--white-1);
    --footer-title-color: var(--accent-color-200);
    --footer-copyright-color: var(--text-color-primary);
    --footer-link-color: var(--text-color-primary);
    --footer-hover-link-color: var(--text-color-secondary);
  }

  // ============================================================
  // MEDIA QUERIES
  // ============================================================

  @include mobile {
    --content-max-width: 90%;
  }

  @include tablet {
    --content-max-width: 90%;
  }

  @include laptop {
    --content-max-width: 90%;
  }
}
