@import '../styles//breakpoints.scss';

:root {
  --gray-0: #ffffff;
  --gray-50: #b7b7b7;
  --gray-100: #a3a3a3;
  --gray-200: #5a5a5a;
  --gray-300: #282828;
  --gray-400: #22252a;
  --gray-500: #1e1e1e;
  --gray-600: #1a1a1a;
  --gray-700: #121212;
  --gray-800: #141414;
  --gray-900: #000000;
  --gray-shade-100: hsla(0, 0%, 100%, 0.1);
  --gray-shade-200: hsla(0, 0%, 100%, 0.07);
  --gray-shade-300: hsla(0, 0%, 100%, 0.04);
  --gray-shade-400: hsla(0, 0%, 0%, 0.2);
  --gray-shade-500: rgba(0, 0, 0, 0.75);

  --scrollbar-background-color: var(--gray-50);
  --scrollbar-color: var(--gray-200);
  --scrollbar-width: 10px;

  --content-max-width: min(80%, 2500px);
  --content-padding: 40px 0;

  --global-padding: 20px;
  --global-gap: 20px;
  --global-border-width: 2px;
  --global-border-radius: 10px;

  --auth-btn-height: 30px;
  --auth-btn-width: 30px;

  @include mobile {
    --content-max-width: 90%;
  }

  @include tablet {
    --content-max-width: 90%;
  }

  @include laptop {
    --content-max-width: 90%;
  }

  &.dark-theme {
    // --primary-color: ;
    // --secondary-color: ;
    --accent-color-100: #1db954;
    --accent-color-200: #1db954;

    --overlay: var(--gray-shade-400);
    --modal-background: var(--gray-400);
    --modal-box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

    --base-background-color: var(--gray-900);
    --layout-background-color: var(--gray-700);
    --sidebar-background-color: var(--gray-500);

    --text-color-primary: var(--gray-0);
    --text-color-secondary: var(--gray-50);
    --text-color-danger: #dc3545;

    --highlight-100: var(--gray-shade-200);
    --highlight-200: var(--gray-500);
    --disabled-background-color: #efefef4d;
  }

  &.light-theme {
  }
}
