.tabs {
  display: flex;
  flex-direction: column;

  .tabs__list {
    display: flex;
    gap: calc(var(--global-gap) * 2);
  }

  .tabs__item {
    position: relative;

    button {
      background: none;
      border: none;
      padding: 0 20px;
      color: var(--text-color-secondary);

      &:hover {
        color: var(--text-color-primary);
      }
    }

    .tabs__indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: var(--accent-color-100);
      border-radius: var(--global-border-radius);
    }

    &.active {
      button {
        color: var(--accent-color-100);
        pointer-events: none;
      }
    }
  }
}
