.tabs {
  .tabs__list {
    display: flex;
    gap: var(--global-gap);
    border-bottom: 1px solid var(--gray-shade-10);

    .tabs__trigger {
      position: relative;
      background: none;
      border: none;
      color: var(--text-color-primary);

      &[data-state='active'] {
        color: var(--accent-color-100);
        pointer-events: none;

        .tabs__indicator {
          position: absolute;
          height: 3px;
          width: 100%;
          background: var(--accent-color-100);
          border-radius: var(--global-border-radius);
        }
      }
    }
  }
}
