input,
textarea,
select {
  &:not([type='range']) {
    background: var(--input-background-color);
    border: var(--global-border-width) solid var(--input-border-color);
    border-radius: 4px;
    caret-color: var(--input-caret-color);
    padding: 5px 10px;

    &:focus {
      outline: var(--global-border-width) solid var(--input-focus-color);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &:disabled {
      background-color: var(--disabled-background-color);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);

  .form-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 4);

    label {
      color: var(--label-color);
    }

    &.password {
      > div {
        display: flex;
        background-color: var(--input-background-color);
        border-radius: 4px;
        border: var(--global-border-width) solid var(--input-border-color);

        &:focus-within {
          border: var(--global-border-width) solid var(--input-focus-color);
        }

        input {
          width: 90%;
          border: none;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }

        button {
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    &.file {
      label {
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) / 4);
        color: var(--label-color);
        cursor: pointer;

        .file__trigger {
          display: flex;
          align-items: center;
          gap: calc(var(--global-gap) / 4);

          svg {
            height: 20px;
            width: 20px;
          }
        }

        .file__name {
          font-size: var(--fs-50);
          color: var(--text-color-primary);
        }
      }

      input {
        display: none;
      }
    }

    .error {
      color: var(--text-color-danger);
      font-size: var(--fs-50);
    }
  }

  button {
    &[type='submit'] {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--global-gap);
    }
  }
}

.form-error {
  max-width: 100%;
  color: var(--text-color-danger);
  font-size: var(--fs-50);
  text-align: center;
}
