@import '../../styles/variables.scss';
@import '../../styles/reset.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';
@import '../../styles/scrollbar.scss';

.layout {
  position: relative;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--layout-background-color);

  main {
    width: var(--global-width);
    margin-inline: auto;
  }
}
