@import '../../styles/reset.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';
@import '../../styles/scrollbar.scss';

.layout {
  scroll-snap-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--layout-background-color);

  main {
    width: var(--global-width);
    min-height: 100svh;
    margin-inline: auto;

    section {
      min-height: 100svh;
      scroll-snap-align: center;
      padding: var(--global-padding) 0;

      &:first-child {
        min-height: calc(100svh - var(--nav-height));
      }
    }
  }
}
