@import '../../styles/variables.scss';
@import '../../styles/reset.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';
@import '../../styles/scrollbar.scss';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--layout-background-color);

  main {
    min-height: 100svh;
    width: var(--global-width);
    margin-inline: auto;
  }
}
