.about {
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr;
  min-height: 100%;
  gap: var(--global-gap);

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--global-gap);

    div {
      color: var(--text-color-secondary);
    }

    button {
      align-self: start;
    }
  }
}
