@import '../../../../styles/breakpoints.scss';

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--global-gap) / 2);

  li {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color-secondary);
    border-radius: 20px;
    font-size: var(--fs-50);
    line-height: 20px;

    @include mobile {
      padding: 3px 6px;
      font-size: var(--fs-0);
    }
  }
}
