.animated-bg {
  .animated-bg__backwrap {
    min-height: 150px;
    background-size: 100% 100%;

    .animated-bg__back-shapes {
      position: relative;
      overflow: hidden;
      min-height: 150px;
      border: var(--global-border-width) solid var(--gray-900);

      .animated-bg__floating {
        position: absolute;
        width: 35px;
        height: 35px;
        opacity: 0.5;
        background: no-repeat;
        background-size: contain;
        background-position: center;
        -webkit-animation-name: floating;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;

        &.circle {
          width: 39px;
          height: 39px;
        }

        @keyframes floating {
          0% {
            transform: translateY(0%) rotate(-55deg);
          }
          50% {
            transform: translateY(300%) rotate(55deg);
          }
          100% {
            transform: translateY(0%) rotate(-55deg);
          }
        }

        @-webkit-keyframes floating {
          0% {
            -webkit-transform: translateY(0%);
          }
          50% {
            -webkit-transform: translateY(300%);
          }
          100% {
            -webkit-transform: translateY(0%);
          }
        }
      }
    }
  }
}
