@import '../../../../styles/breakpoints.scss';

.rating {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  &__source {
    font-size: var(--fs-50);

    @include mobile {
      font-size: var(--fs-0);
    }
  }
}
