.scores {
  table {
    td {
      &:nth-child(1) {
        width: 2%;
      }

      &:nth-child(2) {
        width: 33%;
      }

      .play-midi__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border: none;
        background-color: var(--accent-color-100);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;

        &.disabled {
          background-color: var(--gray-7);
        }

        svg {
          width: 20px;
          height: 20px;
          margin-left: 2px;
          color: var(--layout-background-color);
        }
      }

      .score__title {
        &.active {
          color: var(--accent-color-100);
        }
      }

      .score__album {
        font-size: var(--fs-50);
        color: var(--text-color-secondary);
      }

      .score__level {
        width: 100px;
        display: flex;
        justify-content: center;
        padding: 2px 10px 4px;
        font-size: var(--fs-50);
        text-transform: capitalize;
        border-radius: calc(var(--global-border-radius) * 2);
        border: 2px solid var(--gray-5);
      }

      .score__status {
        color: var(--text-color-secondary);
      }

      .score__actions {
        display: flex;
        gap: calc(var(--global-gap) / 2);
      }

      .download__btn,
      .view-pdf__btn,
      .tutorial__btn {
        height: 36px;
        width: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--global-gap) / 4);
        padding: 6px 16px;
        background: var(--layout-background-color);
        border: var(--global-border-width) solid var(--accent-color-200);
        border-radius: calc(var(--global-border-radius) * 2);
        color: var(--text-color-primary);

        &:hover {
          color: var(--accent-color-100);

          svg {
            color: var(--accent-color-100);
          }
        }

        svg {
          width: 20px;
          height: 20px;
          color: var(--text-color-primary);
        }
      }
    }
  }
}
