@import '../../../styles/mixins.scss';

button,
a {
  &.primary {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--accent-color-100);
    border-radius: 50px;
    color: var(--accent-color-100);
    filter: grayscale(70%) opacity(0.7);
    transition: 600ms ease;

    &:hover {
      filter: grayscale(0%) opacity(1);
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--disabled-color);
    filter: none;
  }

  &.icon {
    @include iconButton();
  }

  &.icon-text {
    display: flex;
    align-items: center;
    gap: calc(var(--global-gap) / 4);
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--text-color-secondary);

    &:hover {
      color: var(--text-color-primary);
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.navigation {
    border: 0;
    background: transparent;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      background: var(--layout-background-color);
      border: var(--global-border-width) solid var(--accent-color-200);
      border-radius: 50%;
      transition: box-shadow 0.5s;

      &:hover {
        --webkit-box-shadow: inset 45px 0 0 0 var(--black-7);
        box-shadow: inset 45px 0 0 0 var(--black-7);
      }

      svg {
        color: var(--gray-1);
      }
    }
  }
}
