@import '../../../styles/mixins.scss';

button,
.btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--global-gap) / 2);

  &.primary,
  &.secondary {
    padding: 6px 16px;
    border-radius: calc(var(--global-border-radius) * 2);
    border: var(--global-border-width) solid var(--accent-color-200);

    svg {
      width: 20px;
      height: 20px;
      color: var(--text-color-primary);
    }

    @include hover {
      svg {
        color: var(--black-7);
      }
    }
  }

  &.primary {
    background: transparent;
    color: var(--text-color-primary);

    @include hover {
      background-color: var(--accent-color-100);
      color: var(--black-7);
    }
  }

  &.secondary {
    background: var(--accent-color-100);
    color: var(--black-7);

    @include hover {
      background-color: var(--accent-color-200);
    }
  }

  &.link {
    background: none;
    border: none;
    color: var(--text-color-secondary);

    &:hover {
      color: var(--text-color-primary);
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &.icon {
    background: none;
    border: none;
    border-radius: 50%;
    filter: grayscale(70%) opacity(0.7);
    transition: 600ms ease;

    &:hover {
      filter: grayscale(0%) opacity(1);
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--accent-color-200);
    }
  }

  &.ghost {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, 0.05);
    border: 1px solid hsla(0, 0%, 59.2%, 0.05);

    svg {
      color: var(--white-0);
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: var(--white-0);

      svg {
        color: var(--black-7);
      }
    }
  }

  &:disabled {
    background-color: var(--gray-shade-70);
    border: var(--global-border-width) solid var(--gray-shade-25);
    color: var(--text-color-secondary);

    svg {
      color: var(--text-color-secondary);
    }
  }

  &[type='submit'] {
    gap: var(--global-gap);
  }
}
