button,
a {
  &.primary {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--accent-color-100);
    border-radius: 50px;
    color: var(--accent-color-100);
    filter: grayscale(70%) opacity(0.7);
    transition: 600ms ease;

    &:hover {
      filter: grayscale(0%) opacity(1);
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--disabled-color);
    filter: none;
  }

  &.icon {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: none;
    filter: grayscale(70%) opacity(0.7);
    transition: 600ms ease;

    &:hover {
      filter: grayscale(0%) opacity(1);
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--accent-color-200);
    }
  }

  &.icon-text {
    display: flex;
    align-items: center;
    gap: calc(var(--global-gap) / 4);
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--text-color-secondary);

    &:hover {
      color: var(--text-color-primary);
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
