.navigation-btn {
  position: relative;
  border: 0;
  background: transparent;

  .navigation-btn__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: var(--gray-400);
    border: var(--global-border-width) solid var(--accent-color-200);
    border-radius: 50%;

    svg {
      color: var(--gray-50);
      width: 18px;
      height: 18px;
    }
  }
}
