.spinner {
  display: inline-block;
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 5px solid var(--text-color-primary);
  border-bottom-color: var(--accent-color-100);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
