@import '../../styles/breakpoints.scss';

.scroller {
  overscroll-behavior-inline: contain;
  display: grid;
  grid-auto-flow: column;

  // Item size control:
  // grid-auto-columns: 75%;
  grid-auto-columns: max-content;

  &.scroll-snap {
    scroll-snap-type: inline mandatory;

    > * {
      scroll-snap-align: start;
    }
  }

  .scroller__group {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    gap: calc(var(--global-gap) / 2);
    justify-items: center;

    .scroller__item {
      display: grid;
      justify-items: center;
      gap: calc(var(--global-gap) / 4);

      @include mobile {
        padding-bottom: 10px;
      }
    }
  }
}
