@import '../../../../../styles/breakpoints.scss';

.poster {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);

  &__card {
    overflow: hidden;
    position: relative;
    border: 2px solid var(--border-color);
    border-radius: var(--global-border-radius);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    aspect-ratio: 40/57;

    a {
      height: 100%;

      > img {
        min-height: 100%;
        aspect-ratio: 40/57;
      }

      &:hover {
        .poster_card-inner {
          bottom: 0;
          top: auto;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-left: 4px;

    span {
      &:first-child {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:last-child {
        font-size: var(--fs-50);
        color: var(--gray-1);
      }
    }
  }
}
