.player {
  display: grid;
  grid-template-columns: [track] 350px [controls] 6fr [volume] 1fr;
  gap: calc(var(--global-gap) * 2);
  padding: var(--global-padding) 0;
  align-items: end;

  .player__actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  > * button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    height: max-content;

    svg {
      color: var(--text-color-secondary);
    }
  }
}
