@import '../../styles/breakpoints.scss';

.player {
  display: grid;
  grid-template-columns: [track] 2fr [controls] 6fr [volume] 1.5fr;
  gap: calc(var(--global-gap) * 2);
  padding: var(--global-padding) 0;
  align-items: end;

  @include tablet {
    grid-template-columns: [track] 2fr [controls] 4fr [volume] 1.5fr;
  }

  @include mobile {
    position: relative;
    grid-template-columns: [track] 5fr [controls] auto;
    align-items: center;
    padding: calc(var(--global-padding) / 2) 0;
  }

  .player__actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  > * button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    height: max-content;

    svg {
      color: var(--text-color-secondary);
    }
  }
}
