.metadata {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .production-companies {
    display: flex;
    gap: 10px;
    max-width: 10%;

    img {
      max-height: 30px;
      width: auto;
      height: auto;
      object-fit: contain;
      filter: invert(50%);
    }
  }
}
