.metadata {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      display: flex;
      gap: 5px;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
        color: var(--text-color-secondary);
      }
    }

    .production-companies {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;

      img {
        object-fit: contain;
        aspect-ratio: 1;
        width: auto;
        max-width: 50px;
        filter: invert(100%);
      }
    }
  }
}
