.poster_card-inner {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: auto [badge] 1fr [details];
  gap: calc(var(--global-gap) / 2);
  padding: calc(var(--global-padding) / 2);
  background: rgba(#000, 0.9);
  // background: linear-gradient(0deg, rgba(#000, 0.9) 85%, transparent);

  > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 4);

    span {
      font-size: var(--fs-50);
      color: var(--text-color-secondary);
    }

    .stats {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__total-tracks {
        font-size: var(--fs-50);
        color: var(--text-color-secondary);

        span {
          color: var(--accent-color-100);
        }
      }

      &__available-files {
        display: flex;
        align-items: center;
        gap: calc(var(--global-gap) / 4);

        svg {
          color: var(--text-color-secondary);

          &.icon__midi-text {
            width: 24px;
            height: 24px;
          }

          &.icon__pdf-text {
            width: 21px;
            height: 21px;
          }

          &.icon__youtube {
            width: 15px;
            height: 15px;
          }
        }

        .separator {
          border: 1px solid var(--gray-shade-10);
          height: var(--fs-50);
        }
      }
    }
  }
}
