@import '../variables.scss';

.layout {
  &[data-theme='dark'] {
    background-color: $bg-primary-dark;
    color: $text-color-dark;

    main {
      .gradient-text {
        background-image: linear-gradient(
          16deg,
          $text-color-dark 69%,
          $accent-color-dark 90%
        );
      }

      .categories {
        background: $bg-secondary-dark;
      }

      .quote {
        .line {
          color: $quote-line-color-dark;
        }
      }

      input,
      textarea,
      select {
        background: $input-bg-dark;
        color: $text-color-dark;
        caret-color: $input-caret-dark;
        border: 2px solid $border-color-dark;

        &:focus {
          border: $input-focus-dark;
        }

        &::placeholder {
          color: $input-placeholder-dark;
        }

        &:disabled {
          background-color: $input-bg-disabled-dark;
          color: $input-text-disabled-dark;
        }
      }

      svg {
        color: $svg-color-dark;
      }

      .icon-btn {
        > svg {
          color: $svg-btn-color-dark;
        }
      }

      .badge {
        div {
          border: 5px solid $badge-border-color-dark;
        }
      }

      .separator {
        // border: 1px solid fuchsia;
      }
    }
  }
}
