@import '../variables.scss';

.layout {
  &[data-theme='light'] {
    background-color: $bg-primary-light;
    color: $text-color-light;

    main {
      .categories {
        background: $bg-secondary-light;
      }

      .quote {
        .line {
          color: $quote-line-color-light;
        }
      }

      input,
      textarea,
      select {
        background: $input-bg-light;
        color: $text-color-light;
        caret-color: $input-caret-light;
        border: 2px solid $border-color-light;

        &:focus {
          border: $input-focus-light;
        }

        &::placeholder {
          color: $input-placeholder-light;
        }

        &:disabled {
          background-color: $input-bg-disabled-light;
          color: $input-text-disabled-light;
        }
      }

      svg {
        color: $svg-color-light;
      }

      .icon-btn {
        > svg {
          color: $svg-btn-color-light;
        }
      }

      .badge {
        div {
          border: 5px solid $badge-border-color-light;
        }
      }

      .separator {
        // border: 1px solid orange;
      }
    }
  }
}
