.quick-search {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .quick-search__search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--global-gap) / 4);
    background-color: var(--highlight-200);
    border-radius: 20px;
    border: var(--global-border-width) solid var(--highlight-200);

    &:focus-within {
      border: var(--global-border-width) solid var(--accent-color-200);
    }

    .icon__search {
      margin-left: 15px;
      height: 19px;
      width: 19px;
    }

    input {
      width: 85%;
      background-color: transparent;
      font-size: var(--fs-50);

      &:focus {
        outline: none;
      }
    }

    .icon-btn {
      justify-content: center;
      width: 15%;

      svg {
        height: 19px;
        width: 19px;
      }
    }
  }

  .quick-search__dropdown {
    position: relative;

    .dropdown-menu {
      z-index: 4;
      overflow: hidden;
      position: absolute;
      top: 20px;
      width: 100%;
      background-color: var(--highlight-200);
      border-radius: calc(var(--global-border-radius) / 2);

      .suggestions,
      .no-suggestions {
        max-height: 430px;
      }

      .suggestions {
        overflow-y: auto;
      }

      .no-suggestions {
        display: block;
        padding: 10px;
        font-size: var(--fs-50);
        color: var(--text-color-secondary);
      }
    }
  }
}
