@import '../../styles/breakpoints.scss';

.quick-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;

  .quick-search__search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--global-gap) / 4);
    background-color: var(--highlight-200);
    border-radius: 20px;
    border: var(--global-border-width) solid var(--highlight-200);

    &:focus-within {
      border: var(--global-border-width) solid var(--accent-color-200);
    }

    .icon__search {
      margin-left: 15px;
      height: 19px;
      width: 19px;
    }

    input {
      width: 85%;
      background-color: transparent;
      font-size: var(--fs-50);

      &:focus {
        outline: none;
      }
    }

    button {
      justify-content: center;
      width: 15%;

      svg {
        height: 19px;
        width: 19px;
      }
    }
  }

  .quick-search__dropdown {
    position: relative;

    .dropdown-menu {
      z-index: 4;
      overflow: hidden;
      position: absolute;
      top: 20px;
      width: 100%;
      background-color: var(--highlight-200);
      border-radius: calc(var(--global-border-radius) / 2);
      box-shadow: var(--box-shadow);

      .suggestions,
      .no-suggestions {
        max-height: 430px;
      }

      .suggestions {
        overflow-y: auto;
      }

      .no-suggestions {
        display: block;
        padding: calc(var(--global-padding) / 2);
        font-size: var(--fs-50);
        color: var(--text-color-secondary);
      }
    }
  }

  @include mobile {
    z-index: 1;
    background-color: black;

    .quick-search__search-bar {
      width: var(--content-max-width);
      margin-inline: auto;
      padding: 20px 0;
      background-color: black;
      border: none;

      &:focus-within {
        border: none;
      }

      .icon__search {
        margin: 0;
      }

      input {
        border: none;
      }

      button {
        justify-content: end;
      }
    }

    .quick-search__dropdown {
      .dropdown-menu {
        top: 0;
        border-radius: unset;

        .suggestions {
          max-height: calc(
            100vh - (var(--navbar-height) + var(--searchbar-height))
          );
        }
      }
    }
  }
}
