.quote {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .icon {
    svg {
      width: 50px;
      height: 50px;
      color: #ffff00;
    }
  }

  .text {
    color: #fff;

    p {
      font-size: clamp(24px, 2.5vw, 30px);
    }
  }

  .reference {
    font-size: 17px;

    .line {
      color: #ffff00;
    }

    .author {
      font-weight: 700;
    }
  }
}
