.sound {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;

  &__bar {
    align-self: flex-end;
    border-radius: 1px;
    background-color: var(--accent-color-100);
  }
}
