@import '../../styles/breakpoints.scss';

.collection {
  display: grid;
  grid-template-rows:
    [header] auto
    [section] 1fr;

  section {
    display: grid;
    padding: var(--content-padding);

    .spinner {
      align-self: center;
      margin-inline: auto;
    }

    .posters,
    .composers {
      height: fit-content;
      display: grid;
      justify-content: center;
      gap: calc(var(--global-gap) * 2);
      grid-template-columns: repeat(auto-fit, 220px);

      @include laptop {
        grid-template-columns: repeat(auto-fit, 195px);
      }

      @include mobile {
        grid-template-columns: repeat(auto-fit, 1fr);
      }
    }

    .load-more__indicator {
      justify-self: center;
    }
  }
}
