@import '../../styles/breakpoints.scss';

.collection {
  display: grid;
  grid-template-rows:
    [header] auto
    [section] 1fr;

  .full-width {
    background: linear-gradient(
      0deg,
      var(--layout-background-color) 0%,
      var(--black-7) 83%
    );

    header {
      width: var(--content-max-width);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: var(--global-gap);
      padding-top: calc(var(--global-padding) * 2);

      h2 {
        width: fit-content;
      }

      .collection__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--global-gap);

        .search-bar {
          width: 50%;
        }

        .filters {
          display: flex;
          gap: var(--global-gap);
        }

        @include mobile {
          flex-direction: column;
          gap: var(--global-gap);

          .search-bar {
            width: 100%;
          }

          .filters {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  section {
    min-height: 100%;
    display: grid;
    align-items: center;
    padding: var(--content-padding);

    .posters,
    .composers {
      height: fit-content;
      display: grid;
      justify-content: center;
      gap: calc(var(--global-gap) * 2);
      // grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
      grid-template-columns: repeat(auto-fit, var(--card-width));
    }
  }
}
