.collection__container {
  display: grid;
  grid-template-rows:
    [search] auto
    [collection] 1fr;
  row-gap: 20px;

  h2 {
    width: fit-content;
  }

  .posters,
  .composers {
    display: grid;
    justify-items: center;
    gap: calc(var(--global-gap) * 2);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, 220px);
  }
}
