.composers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 50px;

  li {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 7px;
  }
}
