@import '../../../styles/breakpoints.scss';

.collection__header {
  background-color: hsl(0, 0%, 3%);

  header {
    width: var(--content-max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) * 1.5);
    padding: calc(var(--global-padding) * 2) 0;

    h2 {
      width: fit-content;
      align-self: center;
    }

    .search__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: var(--global-gap);

      .search-bar {
        width: 33%;
      }

      .filters {
        display: flex;
        gap: var(--global-gap);
      }

      @include mobile {
        flex-direction: column;
        gap: var(--global-gap);

        .search-bar {
          width: 100%;
        }

        .filters {
          justify-content: center;

          @include mobile {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
