.navbar {
  background-color: var(--gray-900);

  .navbar__wrapper {
    width: var(--global-width);
    min-height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    .navbar__logo {
      margin-right: auto;

      a {
        display: block;
        width: 100%;

        img {
          height: calc(var(--nav-height) / 3);
        }
      }
    }

    .navbar__links {
      display: flex;
      gap: calc(var(--global-gap) * 2);

      li {
        a {
          color: var(--text-color-secondary);

          &:hover {
            color: var(--text-color-primary);
          }

          &.active {
            color: var(--accent-color-200);
          }
        }
      }
    }

    .navbar__actions {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      gap: var(--global-gap);
    }
  }
}
