.navbar {
  padding: var(--global-padding) 0;
  background: var(--navbar-background-color);
  border-bottom: 1px solid var(--navbar-border-color);

  .navbar__wrapper {
    display: flex;
    align-items: center;

    .navbar__logo {
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--global-gap);

      a {
        display: block;
        width: 100%;

        img {
          min-height: 24px;
        }
      }
    }

    .navbar__links {
      display: flex;
      gap: calc(var(--global-gap) * 2);

      li {
        a {
          color: var(--navbar-link-color);

          &:hover {
            color: var(--navbar-hover-link-color);
          }

          &.active {
            color: var(--navbar-active-link-color);
          }
        }
      }
    }

    .navbar__actions {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      gap: var(--global-gap);

      .quick-search {
        min-width: 350px;
      }

      .user-button,
      .login-btn {
        display: flex;
        justify-content: center;
        align-self: center;
        cursor: pointer;

        > * {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: var(--auth-btn-height);
          min-width: var(--auth-btn-width);
        }
      }
    }
  }
}
