.user__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.avatar,
  &.initials {
    border: var(--global-border-width) solid var(--border-color);

    &:hover {
      border: var(--global-border-width) solid var(--accent-color-100);
    }
  }

  &.initials {
    background: linear-gradient(to right, #414345, #232526);

    > span {
      color: var(--white-0);
      font-weight: var(--fw-bold);
    }
  }
}
