.cast {
  .scroller__group {
    img {
      inline-size: 100%;
      width: 60px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    span {
      text-align: center;
      font-size: var(--fs-50);
      color: var(--text-color-secondary);
    }
  }
}
