.table {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap));

  .table__header {
    display: flex;
    align-items: center;

    .search-bar {
      min-width: 33%;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tbody {
      th,
      td {
        padding: calc(var(--global-padding) / 2);
        text-align: left;
      }
    }

    thead {
      th {
        text-align: start;
        font-weight: normal;
        border-bottom: 1px solid var(--gray-shade-10);
        color: var(--text-color-secondary);
        cursor: pointer;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.1);
        }
      }
    }
  }
}
