@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';

.table {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap));

  .table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-bar {
      min-width: 33%;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-end;
      gap: var(--global-gap);

      .search-bar {
        min-width: 100%;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tbody {
      th,
      td {
        padding: calc(var(--global-padding) / 2);
        text-align: left;
      }
    }

    thead {
      th {
        text-align: start;
        font-weight: normal;
        border-bottom: 1px solid var(--gray-shade-10);
        color: var(--text-color-secondary);
        cursor: pointer;
      }
    }

    tbody {
      tr {
        @include hover {
          background-color: hsla(0, 0%, 30%, 0.1);
        }

        &:has([aria-expanded='true']) {
          background-color: hsla(0, 0%, 30%, 0.3);
        }
      }
    }
  }
}
