@import '../../../../variables.scss';

.animated-text {
  h1 {
    font-family: $secondary-font;
    color: rgba(225, 225, 225, 0.01);
    text-transform: uppercase;
    -webkit-background-clip: text;
  }

  @keyframes animate {
    100% {
      background-position: left top;
    }
    25% {
      background-position: right bottom;
    }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
  }
}
