.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    span {
      z-index: 2;
    }
  }
}
