@import '../../variables.scss';

footer {
  bottom: 0;
  height: auto;
  padding: 30px 0;
  background: $footer-background;

  .contact {
    background-color: transparent;
    border: none;
    color: $footer-text-color;

    &:hover {
      color: $footer-text-color-hover;
    }
  }
}
