.circle-card {
  overflow: hidden;
  border-radius: 50%;
  border: var(--global-border-width) solid var(--border-color);
  transition: all 0.2s ease-in-out;

  a {
    min-height: 100%;

    img {
      min-height: 100%;
      filter: grayscale(65%) contrast(100%);
    }
  }

  .circle-card__fallback {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--fallback-background-color);
  }

  &:hover {
    transform: scale(1.02);
  }
}
