.circle-card {
  div {
    overflow: hidden;
    border-radius: 100%;
    border: var(--global-border-width) solid var(--gray-400);

    img {
      filter: grayscale(65%) contrast(100%);
    }

    .circle-card__fallback {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: var(--gray-900);
    }
  }
}
