* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: #615551;
  // background-image: linear-gradient(to right bottom, #170f23, #4a4453);
  background-image: linear-gradient(to right bottom, #aaa7af, #aaa7af);
  background-size: cover;
  background-repeat: no-repeat;
}
