@import '../../../styles/mixins.scss';

.player__container {
  position: sticky;
  width: 100%;
  z-index: 1000;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  background: rgb(53, 53, 53);

  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .player {
    width: var(--content-max-width);
    margin: auto;
  }
}
