.crew {
  display: flex;
  gap: calc(var(--global-gap) * 2);

  .crew__cards {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 2);

    > span {
      color: var(--text-color-secondary);
    }

    .single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(var(--global-gap) / 4);
    }

    .overlapping {
      display: grid;
      max-width: fit-content;

      > li {
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: start;
        justify-items: center;
        gap: calc(var(--global-gap) / 4);
      }
    }

    > * img {
      max-width: unset; // revert reset for overlapping cards
      aspect-ratio: 1;
      filter: contrast(110%);
      border-radius: 50%;
      border: 2px solid hsl(0, 0%, 0%, 0.2);
      box-shadow: 4px 4px 8px hsl(0, 0%, 0%, 0.2);
    }

    > * span {
      color: var(--text-color-primary);
      font-size: var(--fs-50);
      text-align: center;
    }
  }
}
