@import '../../../../styles/breakpoints.scss';

.spec {
  --gap: 10px;

  display: flex;
  gap: var(--gap);

  li {
    display: flex;
    gap: var(--gap);
    align-items: center;

    @include mobile {
      > span {
        font-size: var(--fs-0);
      }
    }

    .separator {
      height: 12px;
      border: 1px solid rgb(183, 183, 183, 0.5);
    }
  }
}
