.home {
  section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:first-child, :last-child) {
      min-height: 100dvh;
    }

    &:first-child {
      scroll-margin-top: var(--navbar-height);
      min-height: calc(100dvh - var(--navbar-height));
    }

    &:last-child {
      scroll-margin-bottom: var(--footer-height);
      min-height: calc(100dvh - var(--footer-height));
    }
  }
}
