@import '../../styles/breakpoints.scss';

.home {
  section {
    &[id='parallax'] {
      min-height: calc(100vh - var(--navbar-height));
    }

    &[id='about'] {
      background-color: var(--black-4);
    }

    &:not([id='parallax']) {
      scroll-margin-top: var(--navbar-height);

      > div {
        display: flex;
        flex-direction: column;
        gap: calc(var(--global-gap) * 2);
        padding: 6rem 0;

        @include mobile {
          padding: 4rem 0;
        }
      }
    }
  }
}
