@import '../../styles/breakpoints.scss';

.home {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100dvh - var(--navbar-height));

    &:not([id='parallax']) {
      scroll-snap-align: start;
      scroll-margin-top: var(--navbar-height);
    }
  }
}
