footer {
  background: var(--gray-900);

  .footer__wrapper {
    padding: var(--global-padding) 0;

    .footer__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          padding-bottom: 5px;
          color: var(--accent-color-200);
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            a {
              color: var(--text-color-secondary);

              &:hover {
                color: var(--text-color-primary);
              }
            }
          }
        }

        &.footer__about {
          .contact__btn {
            color: var(--text-color-secondary);

            &:hover {
              color: var(--text-color-primary);
            }
          }
        }

        &.footer__social {
          align-items: center;

          ul {
            flex-direction: row;
          }
        }
      }
    }

    .footer__bottom {
      display: flex;
      justify-content: center;
      color: var(--text-color-secondary);

      span {
        font-size: var(--fs-50);
      }
    }
  }
}
