footer {
  background: var(--gray-900);
  padding: var(--global-padding) 0;

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__top,
    .footer__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__top {
      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .footer__title {
          padding-bottom: 5px;
          color: var(--accent-color-200);
        }

        ul {
          li {
            a {
              color: var(--text-color-secondary);

              &:hover {
                color: var(--text-color-primary);
              }
            }
          }
        }

        &.footer__about {
          .contact__btn {
            color: var(--text-color-secondary);

            &:hover {
              color: var(--text-color-primary);
            }
          }
        }

        &.footer__downloads,
        &.footer__apis {
          .icon__external-link {
            margin-left: 5px;
          }
        }
      }
    }

    .footer__bottom {
      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--global-gap) / 2);

        .copyright {
          span {
            font-size: var(--fs-50);
            color: var(--text-color-secondary);
          }
        }
      }
    }
  }
}
