.badge {
  div {
    height: 150px;
    width: 150px;
    border: 5px solid #2e3238;
    border-radius: 50%;

    img {
      filter: grayscale(100%) contrast(130%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  h3 {
    font-size: 18px;
  }
}
