@import '../../variables.scss';

.overlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-theme='light'] {
    background-color: $overlay-bg-light;
  }

  &[data-theme='dark'] {
    background-color: $overlay-bg-dark;
  }
}

.modal {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  border-radius: 6px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  .modal-title {
    margin: 0;
    font-weight: 500;
  }

  .modal-description {
    margin: 10px 0 20px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &[data-theme='light'] {
    background-color: $modal-bg-light;
    box-shadow: $modal-box-shadow-light;
    color: $text-color-light;

    .close-btn {
      svg {
        color: $svg-btn-color-light;
      }
    }

    input,
    textarea,
    select {
      background: $input-bg-light;
      color: $text-color-light;
      caret-color: $input-caret-light;
      border: 2px solid $border-color-light;

      &:focus {
        border: $input-focus-light;
      }

      &::placeholder {
        color: $input-placeholder-light;
      }

      &:disabled {
        background-color: $input-bg-disabled-light;
        color: $input-text-disabled-light;
      }
    }
  }

  &[data-theme='dark'] {
    background-color: $modal-bg-dark;
    box-shadow: $modal-box-shadow-dark;
    color: $text-color-dark;

    .close-btn {
      svg {
        color: $svg-btn-color-dark;
      }
    }

    input,
    textarea,
    select {
      background: $input-bg-dark;
      color: $text-color-dark;
      caret-color: $input-caret-dark;
      border: 2px solid $border-color-dark;

      &:focus {
        border: $input-focus-dark;
      }

      &::placeholder {
        color: $input-placeholder-dark;
      }

      &:disabled {
        background-color: $input-bg-disabled-dark;
        color: $input-text-disabled-dark;
      }
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
