.auth-btn {
  min-height: var(--auth-btn-height);
  min-width: var(--auth-btn-width);
  display: flex;
  justify-content: center;
  cursor: pointer;

  > div {
    align-self: center;

    .auth-btn__user-avatar,
    .auth-btn__fallback-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: var(--auth-btn-height);
      min-width: var(--auth-btn-width);
      border-radius: 50%;
      background-size: cover;

      &.auth-btn__user-avatar {
        border: var(--global-border-width) solid var(--gray-200);

        &:hover {
          border: var(--global-border-width) solid var(--accent-color-100);
        }
      }

      &.auth-btn__fallback-avatar {
        background-color: var(--accent-color-200);

        > span {
          color: var(--text-color-primary);
          font-weight: var(--fw-bold);
        }
      }
    }
  }
}
